# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

target/
node_modules/
build/


# IntelliJ project files
.idea
*.iml
out
gen

build
